* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: white;
}

